<div class="detail-container" *ngIf="recipe">
  <img class="detail-img" src="{{recipe.url}}" alt="">
  <span class="detail-name">{{recipe.name}}</span>
  <span>Ingredienti: </span>
  <span class="detail-text" *ngFor="let ingredient of recipe.ingredients">{{ingredient}}</span>
  <span class="detail-text">{{recipe.description}}</span>
  <span class="detail-text">{{recipe.category | categoryToString}}</span>
  <span class="detail-text">{{recipe.createdAt | toHumanDate}}</span>
  <!-- <button mat-button color="primary" (click)="deleteRecipe()">Elimina ricetta</button> -->
  <app-super-button></app-super-button>
  <button appSuperButton>elimina la ricetta</button>
</div>
