.detail-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.detail-img{
  max-height: 40vh;
  object-fit: cover;
}

.detail-name{
  font-weight: bold;
  font-size: 5vw;
}

.detail-text{
  font-size: x-large;

}
